main{
    >.row{
        >.section1{
             width: 100%;
             height: 950px;
            /* border: 2px solid rebeccapurple;  */
             >header{
                width: 100%;
                height: 70px;
                /* border: 2px solid crimson; */
                display: flex;
                margin-top: 50px;
                >figure{
                    width: 30%;
                    height: 100%;
                    >img{
                        width: 200px;
                        height: 50px; 
                        margin-left: 100px; 
                        margin-top: 10px;         
                    }
                }
                >nav{
                    width: 60%;
                    height: 100%;
                    >ul{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        margin-left: 30px;
                        padding-left: 50px;
                        align-items: center;
                        gap: 50px;
                        border: 2px solid rgba(73, 71, 71, 0.08);
                        border-radius: 50px;
                        >li{
                            padding-left: -50px;
                            position: relative;
                            >a{
                                font-size: 20px;
                                color: black;
                                text-transform: capitalize;
                                padding-left: -200px;
                                transition: .4s;
                                &:hover{
                                    color: rgb(0, 111, 255);
                                }
                            }
                            &:hover{
                                >ul{
                                    height: 250px;
                                }
                            }
                            >ul{
                                width: 350px;
                                height: 0px;
                                /* border: 2px solid rgba(10, 10, 10, 0.548); */
                                border-radius: 10px;
                                position: absolute;
                                top: 50px;
                                left: 0;
                                margin-left: -60px;
                                overflow: hidden;
                                transition: .4s;
                                background-color: whitesmoke;
                                >li{
                                    display: flex;
                                    margin-top: 10px;
                                    >div{
                                       &:first-of-type{
                                        width: 50%;
                                        height: 100%;
                                        gap: 30px;
                                        padding-left: 20px;
                                        padding-top: 20px;
                                        border-right: 1px solid rgba(0, 0, 0, 0.192);
                                        >h3{
                                            font-size: 20px;
                                            text-transform: capitalize;
                                            color: black;
                                        }
                                        >ul{
                                            margin-top: 20px;
                                            >li{
                                                >a{
                                                    color: dimgray;
                                                    text-transform: capitalize;
                                                    font-size: 16px;
                                                    transition: .3s;
                                                    &:hover{
                                                        color: rgb(0, 111, 255) ;
                                                        padding-left: 10px;
                                                        border-left: 2px solid rgb(0, 111, 255);
                                                    }
                                                }
    
                                            }
                                        }
                                       }
                                       &:last-of-type{
                                        width: 50%;
                                        height: 100%;
                                        gap: 30px;
                                        padding-left: 50px;
                                        padding-top: 20px;
                                        >h3{
                                            font-size: 20px;
                                            text-transform: capitalize;
                                            color: black;
                                        }
                                        >ul{
                                            margin-top: 20px;
                                            >li{
                                                >a{
                                                    color: dimgray;
                                                    text-transform: capitalize;
                                                    font-size: 16px;
                                                    transition: .3s;
                                                    &:hover{
                                                        color: rgb(0, 111, 255) ;
                                                        padding-left: 10px;
                                                        border-left: 2px solid rgb(0, 111, 255);
                                                    }
                                                }
    
                                            }
                                        }
                                       }
                                    }
                                }
                            }
                        }
                    }
                    >form{
                        >input{
                            width: 200px;
                            height: 40px;
                            border-radius: 60px;
                            border: none;
                            position: absolute;
                            top: 67px; left: 1180px;
                            background-color: white;
                            box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.05);
                        }
                    }
                }
             }  
            >.box1{
                width: 85%;
                height: 750px;
                background-image: url(../img/bg.jpg);
                border-radius: 50px;
                margin-top: 60px;
                margin-left: 130px;
                display: flex;
                >.parag1{
                    width: 50%;
                    height: 100%;
                    margin-top: 150px;
                    margin-left: 90px;
                    >h1{
                        font-size: 3vw;
                        color: white;
                        >i{
                            color:rgb(0, 111, 255) ;
                        }
                    }
                    >p{
                        color: rgba(245, 245, 245, 0.785);
                        font-size: 18px;
                        text-transform: capitalize;
                        margin-top: 40px;

                    }
                    >a{
                        font-size: 20px;
                        color: white;
                        text-transform: capitalize;
                        width: 220px;
                        height: 70px;
                        background-color: rgb(0, 111, 255);
                        border-radius: 50px;
                        display: flex;
                        justify-content: center;align-items: center;
                        margin-top: 100px;
                        transition: .4s;
                        &:hover{
                            transform: rotatex(20deg);
                            background-color: rgb(244, 246, 248);
                            color: rgb(0, 111, 255);
                        }
                    }
                }
                >.image1{
                    width: 50%;
                    height: 100%;
                    >figure{
                        >img{
                            width: 670px;
                            height: 610px;
                            margin-top: 100px;
                        }
                    }
                }
            }
        }
    }
    >.row{
        >.section2{
            width: 100%;
            height: 180vh;
            /* border: 2px solid mediumspringgreen; */
            >.box2{
                width: 100%;
                height: 400px;
                /* border: 2px solid red; */
                display: flex;
                justify-content: center;
                >div{
                    width: 20%;
                    height: 100%;
                    /* border: 2px solid hotpink; */
                    >figure{
                        >img{
                            width: 220px;
                            height: 220px;
                            border-radius: 50%;
                            margin-left: 40px;
                            margin-top: 100px;
                        }
                    }
                    >h3{
                        width: 200px;
                        height: 60px;
                        border-radius: 50px;
                        background-color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: -25px;
                        margin-left: 50px;
                        position: relative;
                        z-index: 1;
                        font-size: 16px;
                        text-transform: capitalize;
                        box-shadow: 0 0 10px 1px rgba(128, 128, 128, 0.573);
                        transition: .4s;
                        &:hover{
                            background-color: midnightblue;
                            color: whitesmoke;
                            margin-top: -40px;
                        }
                    }
                }
            }
            >.box3{
                width: 100%;
                height: 700px;
                display: flex;
                margin-top: 100px;
                >div{
                   width: 600px;
                   height: 650px;
                    /* border: 2px solid hotpink; */
                    border-radius: 50px;
                    margin-left: 110px;
                    &:first-of-type{
                        background-image: url(../img/bg2-1.jpg);
                        >h5{
                            margin-top: 80px;
                            margin-left: 60px;
                            font-size: 16px;
                            color: white;
                            font-weight: 400;
                        }
                        >h3{
                           margin-left: 60px;
                           font-size: 3vw;
                           font-weight: 600;
                           color: white;
                        }
                        >p{
                            margin-left: 60px;
                            font-size: 18px;
                            color: rgba(245, 245, 245, 0.742);
                            line-height: 25px;
                            margin-top: 30px;
                        }
                        >a{
                            margin-left: 60px;
                            width: 200px;
                            height: 60px;
                            border-radius: 50px;
                            background-color: whitesmoke;
                            color:rgb(0, 111, 255) ;
                            text-transform: capitalize;
                            font-size: 18px;
                            font-weight: 500;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: 100px;
                            transition: .4s;
                            &:hover{
                                background-color: midnightblue;
                                color: whitesmoke;
                            }
                        }
                    }
                    &:last-of-type{
                        background-image: url(../img/bg3-1.jpg);
                        >h5{
                            margin-top: 80px;
                            margin-left: 60px;
                            font-size: 16px;
                            color: white;
                            font-weight: 400;
                        }
                        >h3{
                           margin-left: 60px;
                           font-size: 3vw;
                           font-weight: 600;
                           color: white;
                        }
                        >p{
                            margin-left: 60px;
                            font-size: 18px;
                            color: rgba(245, 245, 245, 0.742);
                            line-height: 25px;
                            margin-top: 30px;
                        }
                        >a{
                            margin-left: 60px;
                            width: 200px;
                            height: 60px;
                            border-radius: 50px;
                            background-color: rgb(0, 111, 255);
                            color:whitesmoke ;
                            text-transform: capitalize;
                            font-size: 18px;
                            font-weight: 500;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: 100px;
                            transition: .4s;
                            &:hover{
                                background-color:whitesmoke ;
                                color:rgb(0, 111, 255);
                            }
                        }
                    }
                }
            }
        }
    }
    >.row{
        >.section3{
            width: 100%;
            height: 140vh;
            /* border: 2px solid black; */
            >.box4{
                display: grid;
                grid-template-columns: repeat(4, 270px);
                grid-template-rows: repeat(2, 380px);
                justify-content: center;
                align-content: center;
                gap: 40px 100px;
                margin-top: 100px;
                >div {
                    /* background-color: orange; */
                    border: 3px solid rgba(24, 23, 23, 0.237);
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50px;
                    &:nth-of-type(1){
                        >img{
                            width: 200px;
                            height: 200px;
                            margin-top: 40px;
                            margin-left: -60PX;
                        }
                        >h4{
                            font-size: 20px;
                            &:hover{
                                color: rgb(0, 111, 255);
                            }
                        }
                        >h5{
                            font-size: 15px;
                            margin-right: 100px;
                        }
                    }
                    &:nth-of-type(2){
                        >img{
                            width: 200px;
                            height: 200px;
                            margin-top: 40px;
                            margin-left: -50px;
                        }
                        >h4{
                            font-size: 20px;
                            &:hover{
                                color: rgb(0, 111, 255);
                            }
                        }
                        >h5{
                            font-size: 15px;
                            margin-right: 100px;
                        }
                    }
                    &:nth-of-type(3){
                        >img{
                            width: 200px;
                            height: 200px;
                            margin-top: 40px;
                            margin-left: 20px;
                        }
                        >h4{
                            font-size: 20px;
                            &:hover{
                                color: rgb(0, 111, 255);
                            }
                        }
                        >h5{
                            font-size: 15px;
                            margin-right: 150px;
                        }
                    }
                    &:nth-of-type(4){
                        >img{
                            width: 200px;
                            height: 200px;
                            margin-top: 40px;
                            margin-left: -40PX;
                        }
                        >h4{
                            font-size: 20px;
                            &:hover{
                                color: rgb(0, 111, 255);
                            }
                        }
                        >h5{
                            font-size: 15px;
                            margin-right: 100px;
                        }
                    }
                    &:nth-of-type(5){
                        >img{
                            width: 200px;
                            height: 200px;
                            margin-top: 40px;
                            margin-left: -60PX;
                        }
                        >h4{
                            font-size: 20px;
                            &:hover{
                                color: rgb(0, 111, 255);
                            }
                        }
                        >h5{
                            font-size: 15px;
                            margin-right: 100px;
                        }
                    }
                    &:nth-of-type(6){
                        >img{
                            width: 200px;
                            height: 200px;
                            margin-top: 40px;
                            margin-left: 30PX;
                        }
                        >h4{
                            font-size: 20px;
                            &:hover{
                                color: rgb(0, 111, 255);
                            }
                        }
                        >h5{
                            font-size: 15px;
                            margin-right: 150px;
                        }
                    }
                    &:nth-of-type(7){
                        >img{
                            width: 200px;
                            height: 200px;
                            margin-top: 40px;
                            margin-left: -30PX;
                        }
                        >h4{
                            font-size: 20px;
                            &:hover{
                                color: rgb(0, 111, 255);
                            }
                        }
                        >h5{
                            font-size: 15px;
                            margin-right: 100px;
                        }
                    }
                    &:nth-of-type(8){
                        >img{
                            width: 200px;
                            height: 200px;
                            margin-top: 40px;
                            margin-left: 30PX;
                        }
                        >h4{
                            font-size: 20px;
                            &:hover{
                                color: rgb(0, 111, 255);
                            }
                        }
                        >h5{
                            font-size: 15px;
                            margin-right: 150px;
                        }
                    }
                }
            }
            >a{
                color: white;
                border: 2px solid rgb(0, 111, 255);
                width: 300px;
                height: 80px;
                font-size: 20px;
                background-color: rgb(0, 111, 255);
                border-radius: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 60px;
                margin-left: 600px;
                >span{
                    font-size: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color:rgba(76, 150, 245, 0.934);
                    color: white;
                    margin-left: 30px;
                }
                &:hover{
                    box-shadow: inset 300px 0 rgba(255, 255, 255, 0.208);
                }
            }
        }
    }
    >.row{
        >.section4{
            width: 100%;
            height: 100vh;
            /* border: mediumvioletred; */
            >.box5{
                background-image: url(../img/bg4-1.jpg);
                width: 85%;
                height: 600px;
                margin-top: 50px;
                margin-left: 130px;
                border-radius: 50px;
                >div{
                    width: 100%;
                    >h3{
                        font-size: 3vw;
                        padding-top: 150px;
                        margin-left: 60px;
                        color: navy;
                        >b{
                            color: blue;
                        }
                    }
                    >p{
                        font-size: 16px;
                        color: rgba(35, 33, 33, 0.885);
                        margin-top: 50px;
                        margin-left: 60px;
                        line-height: 25px;
                    }
                    >figure{
                        >img{
                            margin-left: 650px;
                            margin-top: -410px;
                        }
                    }
                }
                >a{
                    color: white;
                    background-color: rgb(0, 111, 255);
                    width: 250px;
                    height: 50px;
                    border-radius: 30px;
                    font-size: 22px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-transform: capitalize;
                    margin-top: -50px;
                    margin-left: 70px;
                    transition: .3s;
                    &:hover{
                        background-color: midnightblue ;
                    }
                }
            }
        }
    }
    >.row{
        >.section5{
            width: 100%;
            height: 80vh;
            /* border: 2px solid yellow; */
            >.box6{
                width: 100%;
                height: 25%;
                /* border: 2px solid plum; */
                display: flex;
                >div{
                    width: 80%;
                    height: 100%;
                    padding-left: 100px;
                    padding-top: 20px;
                    >h2{
                        font-size: 2.5vw;
                        font-weight: 550;
                        color:rgb(0, 111, 255) ;
                        >b{
                            color: midnightblue;
                            font-weight: 450;
                        }
                    }
                    >p{
                        font-size: 16px;
                        margin-top: 20px;
                        color: midnightblue;
                    }
                }
                >a{
                    width: 190px;
                    height: 50px;
                    margin-top: 20px;
                    font-size: 20px;
                    font-weight: 450;
                    color: midnightblue;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid rgba(25, 25, 112, 0.363);
                    border-radius: 50px;
                    transition: .3s;
                    >span{
                        width: 30px;
                        height: 30px;
                        border: 1px solid rgba(25, 25, 112, 0.393);
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 16px;
                        margin-left: 10px;
                        color: rgb(0, 111, 255);
                        transition: .3s;
                    }
                    &:hover{
                        background-color: midnightblue;
                        color: whitesmoke;
                        >span{
                            background-color: midnightblue;
                            color: whitesmoke;
                            border: 1px solid whitesmoke;
                        }
                    }
                }
            }
            >.box7{
                width: 100%;
                height: 75%;
                /* border: 2px solid red; */
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                >figure{
                    width: 380px;
                    height: 355px;
                    /* border: 2px solid violet; */
                    transition: .3s;
                    >img{
                        width: 380px;
                        height: 255px;
                        border-radius: 10px;
                        object-fit: cover;
                    }
                    >figcaption{
                        text-transform: capitalize;
                        >h3{
                            font-size: 1.5vw;
                            font-weight: 450;
                            color:midnightblue ;
                            margin-top: 20px;
                            margin-left: 10px;
                        }
                        >h4{
                            font-size: 12px;
                            color: rgb(0, 111, 255);
                            margin-top: 15px;
                            margin-left: 10px;
                        }
                        >a{
                            >span{
                                display: flex;
                                width: 40px;
                                height: 40px;
                                border: 1px solid white;
                                border-radius: 50%;
                                color: white;
                                justify-content: center;
                                align-items: center;
                                background-color: rgba(0, 0, 0, 0.587);
                                margin-top: -250px;
                                margin-left: 170px;
                                position: relative;
                                z-index: 1;
                                opacity: 0;
                            }
                        }
                    }
                    &:hover{
                       >img{
                        opacity: .7;
                       }
                        >figcaption{
                            >a{
                                >span{
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    >.row{
        >.section6{
            width: 90%;
            height: 380px;
            border-radius: 50px;
            background-color: rgb(239, 245, 252);
            margin-left: 80px;
            display: flex;
            >.box8{
                width: 25%;
                height: 100%;
                /* border: 2px solid black; */
                >div{
                    margin-top: 50px;
                    margin-left: 40px;
                    width: 100%;
                    height: 100%;
                    >img{
                        width: 225px;
                        height: 41.5px;
                    }
                    >h5{
                        font-size: 14px;
                        font-weight: 380;
                        color: rgba(128, 128, 128, 0.895);
                        margin-top: 20px;
                    }
                    >h3{
                        font-size: 18px;
                        color: midnightblue ;
                        font-weight: 450;
                        margin-top: 10px;
                    }
                }
            }
            >.box9{
                width: 75%;
                height: 100%;
                /* border: 2px solid blueviolet; */
                display: flex;
                >div{
                    width: 25%;
                    height: 100%;
                    /* border: 2px solid red; */
                    padding-top: 50px;
                    padding-left: 30px;
                    >h3{
                        font-size: 18px;
                        color:midnightblue ;
                    }
                    >ul{
                        margin-top: 20px;
                        line-height: 35px;
                        >li{
                            >a{
                                font-size: 15px;
                                color: rgba(128, 128, 128, 0.895);
                                transition: .3s;
                                >span{
                                    font-size: 14px;
                                    color: rgba(128, 128, 128, 0.847);
                                    transition: .3s;
                                }
                                &:hover{
                                    color:rgb(0, 111, 255);
                                    padding-left: 10px;
                                    >span{
                                        color: rgb(0, 111, 255);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    >.row{
        >.section7{
            width: 100%;
            height: 150px;
            background-image: url(../img/bg-1.jpg);
            border-radius: 50px;
            >h4{
                font-size: 15px;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            >.box10{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                >div{
                    text-transform: capitalize;
                    padding-top: 30px;
                    >h3{
                        font-size: 18px;
                        color: white;
                        >span{
                            color:rgb(0, 111, 255) ;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}